# Site Configuration
NEXT_PUBLIC_SITE_URL=https://nexjob.tech

# CMS Configuration
NEXT_PUBLIC_CMS_ENDPOINT=https://cms.nexjob.tech
CMS_TIMEOUT=10000
CMS_TOKEN=cms_4iL1SEEXB7oQoiYDEfNJBTpeHeFVLP3k

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://base.nexjob.tech
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzUzMDMwODAwLCJleHAiOjE5MTA3OTcyMDB9.druA2hNMG5tlToENwA6diLetpMm9GdJgaSRwi75iTW0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NTMwMzA4MDAsImV4cCI6MTkxMDc5NzIwMH0.LIQX0iP6uE6PsrDCA7ia4utqKBWOTa6dRpq6AZJ5O7U

# Analytics Configuration
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX

# Development Analytics (Optional - set to 'true' to enable analytics in development)
NEXT_PUBLIC_GA_ENABLE_DEV=false
NEXT_PUBLIC_GTM_ENABLE_DEV=false

# Development
NODE_ENV=production
PORT=5000

# Production Cache Settings (optional)
SITEMAP_CACHE_TTL=300

# API Security
API_TOKEN=v6BtVqyV2WturhsAdECx

# Supabase Storage Configuration
NEXT_PUBLIC_SUPABASE_STORAGE_KEY=sb-uzlzyosmbxgghhmafidk-auth-token

# Cache Configuration
FILTER_CACHE_TTL=3600000
AUTH_CACHE_DURATION=5000